html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: dimgrey;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  height: 100vh;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color: #333;
}

.search-bar {
  padding: 8px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.note-input-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

textarea {
  width: 100%;
  padding: 10px -10px 10px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  height: 80px;
}

.color-picker {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-circle.selected {
  border-color: #000;
}

.add-button-container {
  display: flex;
  justify-content: end;
}

.add-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 25px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 15px;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.note-card {
  padding: 15px;
  border-radius: 4px;
  width: 150px;
  text-align: left;
  color: #333;
}